/* LOGIN/SIGNUP PAGE */

.input {
    background-color: #212121;
    color: white;
    height: 40px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
}
  
.input:focus {
    color: white;
    background-color: #212121;
    outline-color: #980202;
    box-shadow: -3px -3px 15px #980202;
    transition: .1s;
    transition-property: box-shadow;
}
.input:hover {
    background-color: #212121;
    outline-color: #980202;
    box-shadow: -3px -3px 15px #980202;
    transition: .1s;
    transition-property: box-shadow;
}

.bn5 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    text-decoration: none;
}
  
.bn5:before {
    content: "";
    background: linear-gradient(
      45deg,
      #980202,
      #4a0202,
      #d10404
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingbn5 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}
  
@keyframes glowingbn5 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
}
  
.bn5:active {
    color: white;
}
  
.bn5:active:after {
    background: transparent;
}
  
.bn5:hover:before {
    opacity: 1;
}
  
.bn5:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #191919;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.validations{
    color: #980202;
}

.form-block{
    border-left: 5px solid #980202;
    border-right: 5px solid #980202;
    border-radius: 20px;
    box-shadow: -3px -3px 15px rgba(255, 255, 255, 0.395);
    width: 75%;
}

@media screen and (max-width: 425px) {
    .form-block{
        width: 100%;
    }
}